h1 {
	font-family: Helvetica, Arial, sans-serif; 
	border-bottom: 5px solid black; 
	text-align: center;
}
.slogan{
	text-align: center; 
	font-family: Arial, sans-serif; 
	color : #BFBBBE;
}
p{
	text-align: center; 
	font-family: Arial, sans-serif; 
}